@model CashMachineWeb.Models.CreditCardViewModel

@{
	ViewBag.Title = "Pin number input";
}

<h2>Input your pin number</h2>

@using (Html.BeginForm("InputPinNumber", "CreditCardAccount", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
{
    @Html.AntiForgeryToken()
    <h4>Card number: @Html.DisplayTextFor(m=>m.DisplayNumber)</h4>
    <hr />
    @Html.ValidationSummary(true)

    <div class="form-group">
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Pin, new {@id = "cc_pin", @class = "form-control", @readonly=""})
            @Html.HiddenFor(m => m.DisplayNumber)
            @Html.HiddenFor(m => m.ActualNumber)
            @Html.ValidationMessageFor(m => m.Pin)
        </div>
    </div>

    @Html.Partial("_NumericKeyboard")
}
