@model CashMachineWeb.Models.CreditCardNumberViewModel

@{
	ViewBag.Title = "Card number input";
	Layout = "../Shared/_Layout.cshtml";
}

<h2>Input your card number</h2>

@using (Html.BeginForm("InputCardNumber", "CreditCardAccount", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
	@Html.AntiForgeryToken()
	<hr />
	@Html.ValidationSummary(true)

	<div class="form-group">
		<div class="col-md-10">
			@Html.TextBoxFor(m => m.DisplayNumber, new { @id = "cc_number_display", @class = "form-control", @readonly = "" })
			@Html.HiddenFor(m => m.ActualNumber, new { @id = "cc_number", @class = "form-control" })
			@Html.ValidationMessageFor(m => m.ActualNumber)
		</div>
	</div>

	@Html.Partial("_NumericKeyboard")
}